@import "../../../assets/style/style.scss";
.bg1{
   background-image: url("../../../assets/media/painting.jpeg");

}
.bg2{
   background-image: url("../../../assets//media/painting2.jpeg");
}
.bg3{
   background-image: url("../../../assets//media/staryNight.png");
}
.bg {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   display: flex !important;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   .bg-blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(102, 99, 99, 0.571);
      z-index: 5;
   }
   .text {
      position: absolute;
      z-index: 10;
      color: $text-color;
      h1 {
         margin-bottom: 10px;
      }
   }
}
.slick-prev {
   display: none !important;
 }
 .slick-next {
   display: none !important;
 }
